<?xml version="1.0"?>
<launch>
  <arg name="joy_config" default="ps3" />
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="config_filepath" default="$(find joy_base_control)/config/joy.config.yaml" />
  <arg name="joy_topic" default="joy" />
  

  <node pkg="joy_base_control" type="teleop_twist_node" name="teleop_twist_node" >
    <rosparam command="load" file="$(arg config_filepath)" />
    <remap from="joy" to="$(arg joy_topic)" />
  </node>
</launch>
